    /*
    Flaticon icon font: Flaticon
    Creation date: 19/06/2020 21:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-jacket-2:before { content: "\f100"; }
.flaticon-camping-tent:before { content: "\f101"; }
.flaticon-sleeping-bag:before { content: "\f102"; }
.flaticon-boots:before { content: "\f103"; }
.flaticon-pants:before { content: "\f104"; }
.flaticon-rope:before { content: "\f105"; }
.flaticon-rope-1:before { content: "\f106"; }
.flaticon-backpack:before { content: "\f107"; }
.flaticon-camera:before { content: "\f108"; }
.flaticon-lens:before { content: "\f109"; }
.flaticon-battery:before { content: "\f10a"; }
.flaticon-tripod:before { content: "\f10b"; }
.flaticon-micro-sd:before { content: "\f10c"; }
.flaticon-power-bank:before { content: "\f10d"; }
.flaticon-singlet:before { content: "\f10e"; }
.flaticon-socks:before { content: "\f10f"; }
.flaticon-underwear:before { content: "\f110"; }
.flaticon-underwear-1:before { content: "\f111"; }
.flaticon-sport-bra:before { content: "\f112"; }
.flaticon-cap:before { content: "\f113"; }
.flaticon-hat:before { content: "\f114"; }
.flaticon-pair-of-gloves:before { content: "\f115"; }
.flaticon-hiking-sticks:before { content: "\f116"; }
.flaticon-first-aid-kit:before { content: "\f117"; }
.flaticon-flashlight:before { content: "\f118"; }
.flaticon-portable-stove:before { content: "\f119"; }
.flaticon-cooking-pan-and-cutlery-set:before { content: "\f11a"; }
.flaticon-canister:before { content: "\f11b"; }
.flaticon-helmet:before { content: "\f11c"; }
.flaticon-harness:before { content: "\f11d"; }
.flaticon-boots-1:before { content: "\f11e"; }
.flaticon-ice-axe:before { content: "\f11f"; }
.flaticon-carabiner:before { content: "\f120"; }
.flaticon-jacket:before { content: "\f121"; }
.flaticon-jacket-1:before { content: "\f122"; }
    
    $font-Flaticon-jacket-2: "\f100";
    $font-Flaticon-camping-tent: "\f101";
    $font-Flaticon-sleeping-bag: "\f102";
    $font-Flaticon-boots: "\f103";
    $font-Flaticon-pants: "\f104";
    $font-Flaticon-rope: "\f105";
    $font-Flaticon-rope-1: "\f106";
    $font-Flaticon-backpack: "\f107";
    $font-Flaticon-camera: "\f108";
    $font-Flaticon-lens: "\f109";
    $font-Flaticon-battery: "\f10a";
    $font-Flaticon-tripod: "\f10b";
    $font-Flaticon-micro-sd: "\f10c";
    $font-Flaticon-power-bank: "\f10d";
    $font-Flaticon-singlet: "\f10e";
    $font-Flaticon-socks: "\f10f";
    $font-Flaticon-underwear: "\f110";
    $font-Flaticon-underwear-1: "\f111";
    $font-Flaticon-sport-bra: "\f112";
    $font-Flaticon-cap: "\f113";
    $font-Flaticon-hat: "\f114";
    $font-Flaticon-pair-of-gloves: "\f115";
    $font-Flaticon-hiking-sticks: "\f116";
    $font-Flaticon-first-aid-kit: "\f117";
    $font-Flaticon-flashlight: "\f118";
    $font-Flaticon-portable-stove: "\f119";
    $font-Flaticon-cooking-pan-and-cutlery-set: "\f11a";
    $font-Flaticon-canister: "\f11b";
    $font-Flaticon-helmet: "\f11c";
    $font-Flaticon-harness: "\f11d";
    $font-Flaticon-boots-1: "\f11e";
    $font-Flaticon-ice-axe: "\f11f";
    $font-Flaticon-carabiner: "\f120";
    $font-Flaticon-jacket: "\f121";
    $font-Flaticon-jacket-1: "\f122";