.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font: 600 1.5em/1 'Raleway', sans-serif;
}
.home-panels {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: white;
}

.home-panel-1 {
  margin: auto;
  background-image: url("/images/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg")
}


.welcome-user{
  font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 25%;
    width: 100%;
}
 span.welcome, span:after {
  font-weight: 900;
  color: #FFCD28;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
} 

 span.welcome {
  font-size: 4em;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}



/*before signup*/
.link-to {
  padding: 20px;
  color: white;
  flex-direction: row;
}
.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  text-align:center;
  top: 500px;
}
.link-to-trip{
  display: flex;
  font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    padding-right: 200px;
    padding-left: 300px;
}

.nav-bar {
  background-color: #343A40;
  overflow: hidden;
 
}
.nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.add-trip-bg {
    background-color: #FFCD28;
    height: 100vh;
    padding: 5%;
}

.trip-layout{
  display: flex;
  flex-direction: row;
  margin: 130px 5px 15px 20px; 
}

.trip-current {
  width: 500px;
}

.single-gear{
  margin: 10px;
  padding-bottom: 30px;
  border: #000000;
  border: 1px;

}

.single-trip {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.trips-top{
  padding: 20px;
  background: rgb(6,103,120);
  background: linear-gradient(90deg, #066778 0%, rgba(14,147,172,1) 68%, rgba(255,255,255,1) 68%);
  
}

.location-display{
  color:white;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.3em;
  padding: .1em;
  background: linear-gradient(90deg, rgba(6,103,120,1) 0%, rgba(255,207,40,1) 22%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);}
.notes-display {
  height: 300px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);

}



h1.location{
  /* padding: 20px; */
  flex-wrap: nowrap;
  margin: 0 0.3em 0 0.3em;
  /* color: #FFCD28; */
  font-size: 100px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline;
  /* background: #111; */
  line-height: 1.3em;
  /* padding: .1em; */
  font-size: 5em;
  color: #fff;
  /* box-shadow: .3em 0 0 #111, -.3em 0 0 #111; */
  background-color: #000000;
}

.add-gear{
  margin: 20px;
  padding-top: 20px;
  width: 50%;
  position: relative;
  left: 20%;

};

.h1{
 font-style: italic;
}
.gear-collection{
 padding: 20px;
  position: relative;
  left: 30px;
  width: 300px;
  

}

.gear-packed {
  padding: 20px;
  position: relative;
  left: 100px;
  width: 300px;

}

.current-trip{
padding: 20px;

}
.current-trip-title {
  font-size: 30px;
}
.edit-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* width: 400px; */
}
.add-gear-to-pack-btn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.delete-gear-btn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* width: 400px; */
}

.container {
  
  height: 400px;
  /* background: linear-gradient(to top right, #ffffff 0%, #ceecf9 100%); */
  padding: 24px 35px;
  margin: 40px;
}


p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wavecard {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.clipcard-body,.wavecard-body {
  /* padding: 15px; */
  color:rgb(6,103,120);
  font-weight: 100 !important;
  /* text-shadow: .04em .04em 0 #aec1bd; */
}
.wavecard-image {
  height: 250px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  transition: all 0.5s ease-in-out;
}
.wavecard-image:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
}
    
.wavecard-body {
  flex-direction: column;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 140px;
 
}
.wavecard-image:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);

}

.h4-wavecard-body {
  color:black
}
.date {
  padding: 20px;
  font-size: 20px !important;
  font-weight: lighter !important;
  list-style-type: none;
}

span.gear-name{
  color: rgb(240, 101, 0);
  letter-spacing: 0.2em;
  font: 600 1.5em/1 'Raleway', sans-serif;
    justify-content: center;
    top: 70%;
  
}


