.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.home-panels {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: white;
}


.home-panel-1 {
  margin: auto;
  background-image: url("/images/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg")
}

.link-to {
  padding: 20px;
  color: white;
  flex-direction: row;
  

}

.link-to-trip{
  color:black
}

.nav-bar {
  background-color: #343A40;
  overflow: hidden;
 
}
.nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.add-trip-bg {
  background-color: #FFCD28;
  height: 100vh;
  padding: 5%
}

.trip-layout{
  display: flex;
  flex-direction: row;
  margin: 10%;
 

}


.trip-current {
  /* margin: 20px;
  padding: 30px; */
  width: 400px;
}

.single-gear{
  border: #282c34;
  border-style: solid;
  margin: 10px;
}
.single-trip {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.trips-top{
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0.3em 0 0.3em;
  color: #FFCD28;
  font-size: 2em;
  text-transform: uppercase;
  cursor: pointer;
 
}


.add-gear{
  margin: 20px;
  padding-top: 20px;
  width: 50%;
  position: relative;
  left: 20%;

};

.h1{
 font-style: italic;
}
.gear-collection{
  position: relative;
  /* left: 300px; */
  width: 300px;
}
.current-trip-title {
  font-size: 30px;
}
/* ul.horizontal,
ul.horizontal li {
    margin: 0;
    padding: 0;
}
ul.horizontal {
    list-style-type: none;
    width: 400px;
    background: whiteSmoke;
    overflow: auto;
    margin: 0 auto;
}
ul.horizontal li {
  width: 24%;
  margin: 0 0 2% 1%;
  float: left;
    width: 99px;
    height: 99px;
    margin: 0 1px 1px 0;
    text-align: center;
    background-color: gray;
    color: white;
} */

