.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font: 600 1.5em/1 'Raleway', sans-serif;
}
.home-panels {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: white;
}

.home-panel-1 {
  margin: auto;
  background-image: url("/images/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg")
}
.landing-page-title{
  font-family: 'Thasadith', sans-serif;
  font-size: 170px;
  font-weight: 900;
  color: #FFCD28;
  /* white-space: nowrap;
  padding: .2em 0 .25em 0; */
  text-transform: uppercase;
  letter-spacing: .3em;
  display: flex;
 flex-direction: row;
 position: absolute;
 right:250px;
 bottom:20%

}

.welcome-user{
  font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 25%;
    width: 100%;
}
 span.welcome, span:after {
  font-weight: 900;
  color: #FFCD28;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
} 

 span.welcome {
  font-size: 4em;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}



/*before signup*/
.link-to {
  padding: 20px;
  color: white;
  flex-direction: row;
}
.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  text-align:center;
  top: 500px;
}
.link-to-trip{
  display: flex;
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgb(240, 101, 0);
    text-transform: uppercase;
    padding-right: 200px;
    padding-left: 300px;
}

.nav-bar {
  background-color: #343A40;
  overflow: hidden;
 
}
.nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 17px;
}

.add-trip-bg {
    background-color: #FFCD28;
    height: 100vh;
    padding: 5%;
    text-align: center;
    font: 600 1.5em/1 'Raleway', sans-serif;
    
    
}

.trip-layout{
  display: flex;
  flex-direction: row;
  margin: 130px 5px 15px 20px; 
}

.trip-current {
  width: 500px;
}

.single-gear{
  margin: 10px;
  padding-bottom: 30px;
  border: #000000;
  border: 1px;

}

.single-trip {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.trips-top{
  font: 300 1em/1 'Raleway', sans-serif;
  padding: 10px 70px 10px 20px;
  background: rgb(6,103,120);
  background: linear-gradient(90deg, #066778 0%, #0e93ac 68%, rgba(255,255,255,1) 68%);

  
}

.location-display{
  font-family: 'Thasadith', sans-serif;
  font-weight: bolder;
  color:white;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.3em;
  padding: .1em;
  background: linear-gradient(90deg, rgba(6,103,120,1) 0%, rgba(255,207,40,1) 22%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);}
.notes-display {
  height: 300px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);

}



h1.location{
  flex-wrap: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  display: inline;
  line-height: 1.3em;
  font-size: 5em;
  color: #fff;
  background-color: #000000;
}
.add-gear-page{
  background-color: #0e93ac;
  height: 100vh;
  font: 600 1.5em/1 'Raleway', sans-serif;
  text-align: center;
  padding: 50px;

}
.add-gear{
  margin: 20px;
  padding-top: 20px;
  width: 50%;
  position: relative;
  left: 20%;
  background-color:#0e93ac

};


.gear-collection{
  display: list-item !important;
  position: relative !important;
  left: 30px;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.gear-coll-page{
  display: flex;
}

.gear-packed {
  padding: 20px;
  position: relative;
  left: 70px;
  width: 500px;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;

}

.current-trip{
padding: 20px;

}
.current-trip-title {
  font-size: 30px;
}
.edit-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(240, 101, 0);
}
.add-gear-to-pack-btn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.delete-gear-btn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(240, 101, 0);
}

.container {
  height: 400px;
  padding: 24px 35px;
}


p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wavecard {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.clipcard-body,.wavecard-body {
  color:rgb(6,103,120);
  font-weight: 100 !important;
}
.wavecard-image {
  height: 250px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  transition: all 0.5s ease-in-out;
}
.wavecard-image:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
}
    
.wavecard-body {
  flex-direction: column;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 140px;
 
}
.wavecard-image:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);

}

.h4-wavecard-body {
  color:black
}
.date {
  padding: 20px;
  font-size: 20px !important;
  font-weight: lighter !important;
  list-style-type: none;
}

span.gear-name{
  color: rgb(240, 101, 0);
  letter-spacing: 0.2em;
  font: 600 1.5em/1 'Raleway', sans-serif;
  justify-content: center;
  top: 70%;
  
}


/*vertical cards packed*/

.cards-list{
  width:50%;
}
.homecard{
  border:1px solid #eee;
  padding:1em;
  width: 400px;
  box-shadow:0px 0px 3px 3px #f7f7f7;
}
.homecard:hover{
  background:#ffffff;
  border:1px solid #FFCD28;
  box-shadow:0px 0px 0px #eee;
}
.homecard h2{
  margin:0;
  padding:0;
  color:#ccc;
  font-size:2.5em;
  position:absolute;
  bottom:1em;
  left:1em;
}
.homecard a:link,
.homecard a:visited{
  width:8em;
  color:#000000;
  background-color:#FFCD28;
  border-radius:0px;
  bottom:1em;
  right:1em;
  position:absolute;
  padding:1em 1em;
  text-align:center;
  font-weight:bold;
  line-height:1;
}
.homecard a:hover{
  text-decoration:none;
}

/* ADD TRIP FORM*/
.ui-input{
  padding: 20px;
  /* width: 20%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px !important;
  outline: 0;
  display: block;
  padding: 8px 0 8px 0; */
  text-transform: uppercase;
  font-size: 14px !important;
  letter-spacing: .0875em;
  font-weight: 500;
  text-align: left;
  /* width: 300px; */
  /* height: 300px; */
  text-decoration-line: none;
  text-align: center;
}

.button-primary{
  margin: 20px;
  padding: 10px;
}

.add-gear-form-input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background: none;
  
}
.app-title{
  font-family: 'Thasadith', sans-serif;
  color: #FFCD28;
  font-size: 40px;
  padding-left: 40px;
  padding-top: 20px;
}
.app-subtitle{
  padding-left: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
}
.link-to-add-gear{
  margin: 30px;
  display: flex;
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgb(240, 101, 0);
    text-transform: uppercase;
    padding-right: 200px;
    padding-left: 300px;
    text-decoration: none;
    position: absolute;
    right: 200px;
}